name: Rust

on:
  push:
    branches: [main]
    tags:
      - "*"
  pull_request:
    branches: [main]
  workflow_dispatch:

env:
  build-with-pgo: true

jobs:
  build-and-test:
    strategy:
      matrix:
        include:
          # Nightly (all features via --all-features)
          - os: ubuntu-latest
            target: x86_64-unknown-linux-gnu
            use-pgo: true
            use-cross: false
            toolchain: nightly
            extra-test-args: --all-features
          - os: ubuntu-latest
            target: i686-unknown-linux-gnu
            use-pgo: true
            use-cross: false
            toolchain: nightly
            extra-test-args: --all-features
          - os: ubuntu-latest # no native runner
            target: aarch64-unknown-linux-gnu
            use-pgo: false
            use-cross: true
            toolchain: nightly
            extra-test-args: --all-features
          - os: ubuntu-latest # no native runner
            target: armv7-unknown-linux-gnueabihf
            use-pgo: false
            use-cross: true
            toolchain: nightly
            extra-test-args: --all-features
          - os: windows-latest
            target: x86_64-pc-windows-msvc
            use-pgo: true
            use-cross: false
            toolchain: nightly
            extra-test-args: --all-features
          - os: windows-latest
            target: i686-pc-windows-msvc
            use-pgo: true
            use-cross: false
            toolchain: nightly
            extra-test-args: --all-features
          - os: macos-15-intel # x86
            target: x86_64-apple-darwin
            use-pgo: true
            use-cross: false
            toolchain: nightly
            extra-test-args: --all-features
          - os: macos-latest # M1
            target: aarch64-apple-darwin
            use-pgo: true
            use-cross: false
            toolchain: nightly
            extra-test-args: --all-features
          - os: ubuntu-latest
            target: x86_64-pc-windows-gnu
            use-pgo: false
            use-cross: true
            toolchain: nightly
            extra-test-args: --all-features
          - os: ubuntu-latest
            target: i686-pc-windows-gnu
            use-pgo: false
            use-cross: true
            toolchain: nightly
            extra-test-args: --all-features

          # Stable (explicit feature list, no nightly feature)
          - os: ubuntu-latest
            target: x86_64-unknown-linux-gnu
            use-pgo: true
            use-cross: false
            toolchain: stable
            features: "lz4,bzip3,hardened,no_format,detect_num_cores,pgo"
          - os: ubuntu-latest
            target: i686-unknown-linux-gnu
            use-pgo: true
            use-cross: false
            toolchain: stable
            features: "lz4,bzip3,hardened,no_format,detect_num_cores,pgo"
          - os: ubuntu-latest
            target: aarch64-unknown-linux-gnu
            use-pgo: false
            use-cross: true
            toolchain: stable # no native runner
            features: "lz4,bzip3,hardened,no_format,detect_num_cores,pgo"
          - os: ubuntu-latest
            target: armv7-unknown-linux-gnueabihf # no native runner
            use-pgo: false
            use-cross: true
            toolchain: stable
            features: "lz4,bzip3,hardened,no_format,detect_num_cores,pgo"
          - os: windows-latest
            target: x86_64-pc-windows-msvc
            use-pgo: true
            use-cross: false
            toolchain: stable
            features: "lz4,bzip3,hardened,no_format,detect_num_cores,pgo"
          - os: windows-latest
            target: i686-pc-windows-msvc
            use-pgo: true
            use-cross: false
            toolchain: stable
            features: "lz4,bzip3,hardened,no_format,detect_num_cores,pgo"
          - os: macos-15-intel # x86
            target: x86_64-apple-darwin
            use-pgo: true
            use-cross: false
            toolchain: stable
            features: "lz4,bzip3,hardened,no_format,detect_num_cores,pgo"
          - os: macos-latest # M1
            target: aarch64-apple-darwin
            use-pgo: true
            use-cross: false
            toolchain: stable
            features: "lz4,bzip3,hardened,no_format,detect_num_cores,pgo"
          - os: ubuntu-latest
            target: x86_64-pc-windows-gnu
            use-pgo: false
            use-cross: true
            toolchain: stable
            features: "lz4,bzip3,hardened,no_format,detect_num_cores,pgo"
          - os: ubuntu-latest
            target: i686-pc-windows-gnu
            use-pgo: false
            use-cross: true
            toolchain: stable
            features: "lz4,bzip3,hardened,no_format,detect_num_cores,pgo"

          # Big Endian
          - os: ubuntu-latest # 32-bit big endian
            target: powerpc-unknown-linux-gnu
            use-pgo: false
            use-cross: true
            toolchain: nightly
            extra-test-args: --all-features
          - os: ubuntu-latest # 64-bit big endian
            target: powerpc64-unknown-linux-gnu
            use-pgo: false
            use-cross: true
            toolchain: nightly
            extra-test-args: --all-features
          - os: ubuntu-latest # 32-bit big endian
            target: powerpc-unknown-linux-gnu
            use-pgo: false
            use-cross: true
            toolchain: stable
            features: "lz4,bzip3,hardened,no_format,detect_num_cores,pgo"
          - os: ubuntu-latest # 64-bit big endian
            target: powerpc64-unknown-linux-gnu
            use-pgo: false
            use-cross: true
            toolchain: stable
            features: "lz4,bzip3,hardened,no_format,detect_num_cores,pgo"

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v6

      - name: Run Tests and Upload Coverage
        uses: Reloaded-Project/devops-rust-test-and-coverage@v1
        # Currently unsupported due to no native runner.
        # Native runner currently only available in enterprise.
        if: matrix.target != 'aarch64-pc-windows-msvc'
        with:
          rust-project-path: ./src
          upload-coverage: true
          codecov-token: ${{ secrets.CODECOV_TOKEN }}
          target: ${{ matrix.target }}
          rust-toolchain: ${{ matrix.toolchain }}
          features: ${{ matrix.features }}
          additional-test-args: ${{ matrix.extra-test-args }}
          use-cross: ${{ matrix.use-cross }}

      # Note: The GitHub Runner Images will contain an up to date Rust Stable Toolchain
      #       thus as per recommendation of cargo-semver-checks, we're using stable here.
      #
      # Note to reader. If adding this to a new repo, please clear cache.
      - name: Run cargo-semver-checks
        if:
          (github.event_name == 'pull_request' || startsWith(github.ref, 'refs/tags/')) && matrix.toolchain == 'stable'
          && matrix.use-cross == false
        working-directory: src
        shell: bash
        run: |
          SEARCH_RESULT=$(cargo search "^sewer56-archives-r3a$" --limit 1)
          rustup target add ${{ matrix.target }}

          if echo "$SEARCH_RESULT" | grep -q "^sewer56-archives-r3a "; then
            cargo binstall cargo-semver-checks
            cargo semver-checks --target ${{ matrix.target }} --only-explicit-features --features "${{ matrix.features }}"
          else
            echo "No previous version found on crates.io. Skipping semver checks."
          fi

      - name: Check documentation is valid
        if:
          (github.event_name == 'pull_request' || startsWith(github.ref, 'refs/tags/')) && matrix.toolchain == 'stable'
          && matrix.use-cross == false
        working-directory: src
        env:
          RUSTDOCFLAGS: "-D warnings"
        run:
          cargo doc --workspace --features "${{ matrix.features }}" --document-private-items --target ${{ matrix.target
          }}

      - name: Run linter
        if:
          (github.event_name == 'pull_request' || startsWith(github.ref, 'refs/tags/')) && matrix.toolchain == 'stable'
          && matrix.use-cross == false
        working-directory: src
        run: cargo clippy --workspace --features "${{ matrix.features }}" --target ${{ matrix.target }} -- -D warnings

      - name: Run formatter check
        uses: actions-rust-lang/rustfmt@v1
        if:
          (github.event_name == 'pull_request' || startsWith(github.ref, 'refs/tags/')) && matrix.toolchain == 'stable'
        with:
          manifest-path: src/Cargo.toml

  test-on-wine:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        target: [x86_64-pc-windows-gnu, i686-pc-windows-gnu]

    steps:
      - uses: actions/checkout@v6

      - name: Run Tests and Coverage on WINE
        uses: Reloaded-Project/devops-rust-test-and-coverage@v1
        with:
          rust-project-path: ./src
          target: ${{ matrix.target }}
          upload-coverage: true
          codecov-token: ${{ secrets.CODECOV_TOKEN }}
          use-cross: true
          additional-test-args: --release
          features: lz4,bzip3,hardened,no_format,detect_num_cores,pgo

  # Research tools are in a separate workspace with additional system dependencies
  build-research-tools:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Run Tests for Research Tools
        uses: Reloaded-Project/devops-rust-test-and-coverage@v1
        with:
          rust-project-path: "src/research"
          rust-toolchain: stable
          upload-coverage: false
          pre-test-command: |
            sudo apt-get update
            sudo apt-get install -y libfontconfig1-dev

  publish-crate:
    permissions:
      contents: write

    needs: [build-and-test, test-on-wine]
    # Publish only on tags
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    steps:
      - name: Publish Rust Crate and Artifacts
        uses: Reloaded-Project/devops-publish-action@v3
        with:
          rust-crates-io-token: ${{ secrets.CRATES_IO_TOKEN }}
          csharp-nuget-api-key: ${{ secrets.NUGET_KEY }}
          rust-cargo-project-paths: |
            src/sewer56-archives-r3a
          compression-tool: 7z
          artifact-groups-file: .github/artifact-groups.yml
          changelog-enabled: "true"
          changelog-template: .github/changelog.hbs
          changelog-is-release: ${{ startsWith(github.ref, 'refs/tags/') }}
          changelog-release-tag: ${{ github.ref_name }}
          changelog-override-starting-version: "true"
          changelog-hide-credit: "true"
